.formBgImage {
    background-image: url("../../public/assets/images/formBg.jpg");
  }
  .leftNavigation{
    background: #fff;
    height: 85vh;
    border-radius: 12px;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000dd;
  }